# Extracting data from RDB

## SQLite DB

### import package

In [1]:
#import sqlite3 package
import sqlite3

### connect to DB

In [3]:
# create a connection to a DB : create the DB if not available
connection = sqlite3.connect("classroomDB.db")
connection.close()

### create table

In [4]:
# open connection
connection = sqlite3.connect("classroomDB.db")
# open cursor
cursor = connection.cursor()
# query for create table
create_table = """
                CREATE TABLE classroom (
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                );"""
# execute query
cursor.execute(create_table)
# commit changes
connection.commit()
#close connection
connection.close()

### insert data

In [5]:
# sample data
classroom_data = [(1, "Raj", "M", 70, 84, 92),
                  (2, "Poonam", "F", 87, 69, 93),
                  (3, "Nik", "M", 65, 83, 90),
                  (4, "Rahul", "F", 83, 76, 89)]

#open connection
connection = sqlite3.connect("classroomDB.db")

#open cursor
cursor = connection.cursor()

#insert each student record
for student in classroom_data:
    #formatted query string
    insert_statement = """INSERT INTO classroom
                          (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                          VALUES
                          ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2],
                                                                       student[3], student[4], student[5])
    # execute insert query
    cursor.execute(insert_statement)

# commit the changes
connection.commit()

# close the connection
connection.close()

### extract data

In [10]:
# open connection
connection = sqlite3.connect("classroomDB.db")

# open cursor
cursor = connection.cursor()

# query
query = "SELECT * FROM classroom"

# execute query
result = cursor.execute(query)

#print type
print(type(result))

# show result
for record in result:
    print(record)

# close connection
connection.close()

<class 'sqlite3.Cursor'>
(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonam', 'F', 87, 69, 93)
(3, 'Nik', 'M', 65, 83, 90)
(4, 'Rahul', 'F', 83, 76, 89)

## MySQL database

### install package

In [9]:
!conda install -y -q pymysql

Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\starg\Anaconda3

  added / updated specs:
    - pymysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    openssl-1.0.2o             |       h8ea7d77_0         5.4 MB
    certifi-2018.4.16          |           py36_0         143 KB
    ca-certificates-2018.03.07 |                0         155 KB
    conda-4.5.4                |           py36_0         1.0 MB
    pymysql-0.8.1              |           py36_0         135 KB
    ------------------------------------------------------------
                                           Total:         6.8 MB

The following NEW packages will be INSTALLED:

    pymysql:         0.8.1-py36_0

The following packages will be UPDATED:

    ca-certificates: 2017.08.26-h94faf87_0                  --> 2018.03.07-0
    certifi:         2017.7.27.1-py36h043bc9e_0             --> 2018.4.16-py36_0
    conda:           4.5.4-py36_0               conda-forge --> 4.5.4-py36_0
    openssl:         1.0.2o-vc14_0              conda-forge [vc14] --> 1.0.2o-h8ea7d77_0

Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

### import package

In [ ]:
# import package
import pymysql